.caja {
  background-color: aqua;
}

button {
  background-color: beige;
  padding: 7px 10px;
  border: 1px solid;
  margin: 55px;
  border-radius: 3px;
  color: black;
}
button:hover {
  cursor: pointer;
  background-color: black;
  color: antiquewhite;
}
